<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <ul>
                <li th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></li>
            </ul>
        </td>
        <td>
<!--            <a th:href="@{/users/edit(id=${user.getId()})}">-->
<!--                <button type="button">Update</button>-->
<!--            </a>-->

            <form th:method="POST" th:action="@{/admin/edit(id=${user.getId()})}" style="display:inline">
                <button type="submit">Update</button>
            </form>

            <form th:method="DELETE" th:action="@{/admin/delete(id=${user.getId()})}" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a href="/admin/new">
    <button type="button">Create new user</button>
</a>

<br>
<br>

<a href="/logout">
    <button type="button">Logout</button>
</a>

</body>
</html>