<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>
    <label for="roles">Choose roles: </label>
    <select id="roles" name="roles" th:field="*{roles}" multiple="multiple">
        <option th:each="role : ${all_roles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
    </select>
    <br>
    <input type="submit" value="Create">
</form>

<br>
<br>

<a href="/logout">
    <button type="button">Logout</button>
</a>

</body>
</html>